<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hello</title>
</head>
<body>
    <form action="/" method="post">
        <p><label>UNP:</label></p>
        <p><input type="text" id="unpNumber" minlength="9" maxlength="9" name="unpNumber" required></p>
        <input type="submit" value="Submit" >
    </form>

    <p><label>Full name of the payer:</label></p>
    <p th:text="${name}"></p>
    <p><label>Address:</label></p>
    <p th:text="${address}"></p>
    <p><label>Date of registration:</label></p>
    <p th:text="${reg}"></p>
    <p><label>Status:</label></p>
    <p th:text="${status}"></p>
</body>
</html>
